<!DOCTYPE html>
<!-- lol hi there, this was written by joseph for colin's pr software -->

<!-- TODO: handelbarsify this -->
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/survey-styles.css">
</head>

<body>
    <div class="main">
        <!-- page header -->
        <div class="breaker"></div>
        <div class="breaker"></div>
        <div class="line"></div>
        <h1>SmAsheville PR</h1>
        <h2>Ballot for the 2016 Spring Season</h2>
        <div class="line"></div>

        <!-- tag question -->
        <div class="tag-q-wrapper">
            <p class="yourtag">Your Tag:</p>
            <input type="text" class="text" id="tag">
        </div>

        <h2 class="header">Main Votes<br></h2>

        <!-- First sortable list header -->
        <!-- TODO: use sortable as two side-by-side divs to fix column issues here -->
        <!-- TODO: remove this inline style -->
        <div class="votewrapper">
            <div class="listbox players">
                <h2 class="item">Player Pool<br><span style="font-size:10px">leave em' here 2 die</span></h2>
                <ul class="player_list" id="player_pool">
                    {{#each playerArray}}
                        <li class="list_player" data-id="{{this}}">
                            <div class="player_name">{{this}}</div>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <!-- TODO: make the li elements in this list bigger -->
            <div class="listbox ranking">
                <h2 class="item2">Final Ranks<br><span style="font-size:10px">place players ranked in order from best to worst here</span></h2>
                <ul class=ranking_list id=ranking_list>
                </ul>
            </div>
        </div>

        <h2 class="header">Additional Awards<br></h2>

        <h2 class="item">{{question_1}}</h2>
        <select class="pulldown" name="stuffs" id="question_1">
            <option></option>
            {{#each playerArray}}
                <option>{{this}}</option>
            {{/each}}
        </select>

        <h2 class="item">{{question_2}}</h2>
        <select class="pulldown" name="wowok" id="question_2">
            <option></option>
            {{#each playerArray}}
                <option>{{this}}</option>
            {{/each}}
        </select>

        <div class="breaker"></div>
        <div class="breaker"></div>
        <div class="line"></div>
        <button type="button" class="button" onclick="tally();window.location.href='/survey/thanks';">
            Submit
        </button>
        <div class="line"></div>
        <div class="breaker"></div>
        <div class="breaker"></div>
        <h2><span style="font-size:10px">debug info...</span></h2>
        <textarea id="debug" rows="10" cols="30"></textarea>
        <div class="breaker"></div>
        <div class="breaker"></div>
    </div>
</body>
<script src="javascripts/Sortable.js"></script>
<script src="javascripts/survey.js"></script>
